.c1business {
  padding: 5px;
  grid-area: hsect1;
  background-color: #ededed;
}
.c2sport {
  padding: 5px;
  grid-area: hsect2;
  background-color: #ededed;
  text-align: center;
}
.c2politics {
  padding: 5px;
  grid-area: hsect3;
  background-color: #ededed;
  text-align: center;
}
.contentgroupheadline {
  border-bottom: 1px solid black;
  font-family: serif;
  text-align: center;
  font-size: 30px;
  margin: auto;
  margin-bottom: 10px;
  padding: 0px;
}
.container {
  border: 0.5px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  font-family: serif;
}
.contentheadline {
  text-align: left;
  text-decoration: underline;
  font-size: 25px;
  margin: 0px;
  padding-left: 10px;
}
.contentheadline h2 a {
  text-align: left;
  text-decoration: underline;
  font-size: 25px;
  margin: 0px;
  padding-left: 10px;
}

.releasdate {
  font-size: 15px;
  font-style: italic;
  text-align: start;
  margin: 0px;
  padding-left: 10px;
}
.contenttext {
  display: flex;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
