body,
html {
  height: 100vh;
  background-color: #ededed;
}

.hbody {
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto, 6);
  grid-template-areas:
    "ih"
    "main"
    "hsect1"
    "hsect2"
    "hsect3"
    "footer";
}

.informations {
  padding-right: 10px;
}

.informations li {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  display: table;
  float: right;
  padding: 0px 5px 0px 5px;
  margin-top: 2px;
  /* border: green solid; */
}

.imp p {
  color: white;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 50;
}

@media only screen and (min-width: 850px) {
  .hbody {
    /* margin: 0; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5% auto auto 5%;
    grid-template-areas:
      "ih header header "
      "hmain hmain hmain "
      "hsect1 hsect2 hsect3 "
      "footer footer footer ";
  }
}
