body,
html {
  height: 100vh;
  background-color: #ededed;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto, 6);
  grid-template-areas:
    "ih"
    "main"
    "sect1"
    "sect2"
    "sect3"
    "footer";
}

header {
  grid-area: header;
  background-color: #101010;
  text-align: center;
}

.ih {
  grid-area: ih;
  background-color: #101010;
}
.logo {
  height: 100%;
  display: table;
  float: left;
  padding-left: 10px;
}

.navbar li:last-child {
  padding-right: 20px;
}

.navbar {
  height: 100%;
  display: flex;
  align-items: center;
  float: right;
}

.navbar li,
a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  display: table;
  float: left;
  padding: 5px;
  font-size: 20px;
}

.navbar a {
  border-radius: 15px;
  margin: 0px;
}

.logo h1 a {
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}

.logo h1 a span {
  color: white;
  font-weight: 800;
}

footer {
  grid-area: footer;
  background-color: #588ec3;
}

@media only screen and (min-width: 850px) {
  body {
    /* margin: 0; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5% auto auto 5%;
    grid-template-areas:
      "ih header header "
      "main main main "
      "sect1 sect2 sect3 "
      "footer footer footer ";
  }
}

.pic {
  background-image: url(//unsplash.it/200/200);
  width: 200px;
  height: 200px;
  float: right;
}

aside {
  grid-area: sidebar;
  background-color: #00ffff;
}
