body,
html {
  height: 100vh;
  background-color: #ededed;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto, 6);
  grid-template-areas:
    "hl"
    "header"
    "main"
    "sect1"
    "sect2"
    "sect3"
    "footer";
}
.postmain {
  grid-area: main;
  text-align: center;
  font-family: serif;
  font-size: 25px;
  padding: 10px 10px 0px 10px;
}

.samplepost h2 {
  margin: 0px;
  padding-left: 10px;
}

.postreleasdate {
  padding-left: 10px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 300;
}

.postmain h1 {
  border-bottom: 0.5px solid black;
}

.samplepost {
  text-align: left;
  text-decoration: none;
}

.samplepost p {
  padding: 10px;
}

.samplepost p:last-child {
  border: 0.5px solid black;
  padding: 10px;
}

.heading {
  grid-area: sect1;
  padding: 10px;
}

.headingcontainer {
  font-size: 25px;
}

.subheading {
  grid-area: sect2;
  font-size: 25px;
  padding: 10px;
}

@media only screen and (min-width: 950px) {
  body {
    margin: 0;
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 5% auto 2fr auto 5%;
    grid-template-areas:
      "hl header"
      "sidebar main"
      "sidebar sect1"
      "sidebar sect2"
      "footer footer ";
  }
}

aside {
  grid-area: sidebar;
  background-color: #ededed;
  margin: 10px 0px 10px 0px;
  border-right: 0.5px solid black;
}

.postsidebar {
  margin: 10px;
  padding: 10px;
}

.archvies {
  background-color: #e0e0e0;
  padding: 5px;
  font-size: 15px;
  list-style: none;
}
.about {
  background-color: #e0e0e0;
  padding: 5px;
}
